body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 35px;
}

.little-header {
    color: rgb(59, 81, 180);
    font-family: 'Tourney', cursive;
}

.sec1 {
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.sec2 {
    display: flex;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
    background-position: right;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 70%;
}

.btn1 {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(orange, rgb(11, 205, 240));
    font-weight: 800;
}