body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 35px;
}

.little-header {
    color: rgb(59, 81, 180);
    font-family: 'Tourney', cursive;
}

.sec1 {
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.sec2 {
    display: flex;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
    background-position: right;
}

.sec3 {
    margin-bottom: 200px;
}

.box-1 {
    display: flex;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 70%;
}

.btn1 {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(orange, rgb(11, 205, 240));
    font-weight: 800;
}

.dev-h3 {
    color: orange;
}

.experience-box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 30px gray;
}

#box-right {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#box-left {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    font-weight: 800;
}